README.md linguist-documentation
*.md linguist-documentation
LICENSE linguist-documentation
LICENSE.* linguist-documentation
*.toml linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation
*.json linguist-documentation
