* text=auto
*.md linguist-vendored
README.md linguist-vendored
LICENSE linguist-vendored
LICENSE.* linguist-vendored
*.toml linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored
*.json linguist-vendored
*.rs linguist-language=Rust
*.luau linguist-language=Luau
*.lock linguist-vendored